.title{
    color:turquoise;
    display:flex;
    padding-top:3px;
    padding-bottom: 15px;
    justify-content: center;
    height:0px;
}


.value{
    margin:auto;
    padding-left: 28%;
}
.clear{
    display: inline-block;
    margin-left:28%;

}

#container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,aut0);
    height:550px;
    padding-bottom: 20px;
    background-color: white;}
    
/*.outer{
    margin:2%;
    display:inline-block;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    background-color:white;
    padding: 10px;
} */

.box{
    text-align: center;
    border: 1px solid black;
}
#output {
   white-space: pre-wrap;
 }

 .slider {
    -webkit-appearance: none;
    width: 550px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    justify-content: center;
    margin-left:28%;
  }
  
  .slider:hover {
    opacity: 1;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 25px;
    background:paleturquoise;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 25px;
    background: paleturquoise;
    cursor: pointer;
  }
